.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Additional styles for NavbarComponent */
.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 40px; /* Adjust as needed */
  margin-right: 10px; /* Space between logo and text */
}

.navbar-item {
  padding: 0 15px; /* Space around each item */
}

/* Adjust styling for links and buttons if necessary */
a {
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}


